.canvasContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  width: 60%;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #4D8076;
  border-radius: 8px;
  padding: 1.25rem 0.5rem;
  width: 98%;
}

.colorSquare {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.colorContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background: #564472;
  border-radius: 8px;
}

.colorRow {
  display: flex;
}

.canvasWrapper {
  background: #4D8076;
  position: relative;
  border-radius: 8px;
  padding: 0.5rem;
}

.paintTools {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #564472;
  border-radius: 8px;
  padding: 0 1rem;
}

.paintTools > img {
  cursor: pointer;
}

.activeToolLeft {
  background: #FAEAFF;
  position: relative;
  border-radius: 8px;
  padding: 1.25rem;
  margin-left: -1.25rem;
}


.activeToolRight {
  background: #FAEAFF;
  position: relative;
  border-radius: 8px;
  padding: 1.25rem;
  margin-right: -1.25rem;
}


.brushSizeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: -1rem;
}

.brushSizeContainer > input {
  margin-bottom: -3rem; 
}

.gameControlWrapper {
  background: #4D8076;
  width: 200px;
  height: 300px; 
}

.wordOverlay {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  color: #FAEAFF;
}

.hintContainer {
  position: absolute;
  top: -2.5rem;
}